.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
  }
  ul{
    padding: 0;
  }
 .top-more-side-bar{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/5muBjr6R-Tf.png);
    background-position: 0px -389px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .down-more-side-bar{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yo/r/5muBjr6R-Tf.png);
    background-position: 0px -284px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .sidebar-item{
      padding: 12px;
  }
  .sidebar-item:hover{
      background-color: #ebe4e4;
  }
 
  .sidebar::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: none;
  }
  .sidebar:hover::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: block;
  }
  .rightbar::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: none;
  }
  .rightbar:hover::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: block;
  }
  .scroll-custom::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: none;
  }
  .scroll-custom:hover::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
    display: block;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    height: 70%;
    border-radius: 10px;
  }
  
  .sidebarWrapper {
    padding: 20px;
  }
  
 